@section MainCss
{
	<link rel="stylesheet" href="~/lib/fancybox/jquery.fancybox.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/hotel.css" asp-append-version="true" />
}

@section FancyBoxScript
{
	<script type="text/javascript" src="~/lib/fancybox/jquery.fancybox.js"></script>
	<script type="text/javascript" src="~/js/hotel-details.js"></script>
}
@model cottages_asp.Models.Entities.Building
<div class="gallery-container">
	<div class="gallery">
		@for (int i = 0; i < 6; i++)
		{
			<a data-fancybox="gallery" href="@ViewBag.ImageUrls[i].ImageUrl">
				<img src="@ViewBag.ImageUrls[i].ImageUrl" alt="Hotel Front 1">
			</a>
		}

		@for (int i = 6; i < ViewBag.ImageUrls.Count; i++)
		{
			<a style="display: none;" data-fancybox="gallery" href="@ViewBag.ImageUrls[i].ImageUrl">
				<img src="@ViewBag.ImageUrls[i].ImageUrl" alt="Hotel Front 1">
			</a>
		}
	</div>
</div>


<div class="container">
	<h1 class="mb-4">@Model.Name</h1>
	<div class="row">
		<div class="col-7">
			<div class="content-section">
				<div class="mini-profile mb-3 row">
					<img src="https://meragor.com/files/styles//ava_800_800_wm/avatar-211523-000242.png" class="col flex-fill profile-picture rounded-circle ms-1" alt="nqma">
					<div class="col row flex-column justify-content-start align-items-center profile">
						<div class="fs-4 profile-name col">John Wellington</div>
						<div class="profile-info col">Cottage User</div>
					</div>
				</div>
				<div class="row appliances flex-wrap mb-3">
					<div class="ms-2 flex-fill mb-1 col-3"><i class="fa-solid fa-shield"></i>&nbsp;Appliancasde dsads 1</div>
					<div class="ms-2 flex-fill mb-1 col-3"><i class="fa-solid fa-shield"></i>&nbsp;Appliance 2</div>
					<div class="ms-2 flex-fill mb-1 col-3"><i class="fa-solid fa-shield"></i>&nbsp;Appliance 3</div>
					<div class="ms-2 flex-fill mb-1 col-3"><i class="fa-solid fa-shield"></i>&nbsp;Appliance 4</div>
					<div class="ms-2 flex-fill mb-1 col-3"><i class="fa-solid fa-shield"></i>&nbsp;Appliance 5</div>
					<div class="ms-2 flex-fill mb-1 col-3"><i class="fa-solid fa-shield"></i>&nbsp;Appliance 5</div>
					<div class="ms-2 flex-fill mb-1 col-3"><i class="fa-solid fa-shield"></i>&nbsp;Appliance 5</div>
				</div>
				<div class="desc">@Model.Description</div>
			</div>
		</div>
		<div class="col-5">
			<div class="sidebar-item p-3">
				<div class="make-me-sticky">
					<div class="fs-3 text-start mb-2">Pick your dates:</div>
					<div class="mb-3">
						<div class="date-picker" style="justify-content: center;">
							<input type="date" class="form-control" name="StartDate">
							<input type="date" class="form-control" name="EndDate">
						</div>
					</div>
					<div class="row justify-content-center mb-3">
						<button type="button" class="btn btn-success col-8">Get price</button>
					</div>
					<div class="row justify-content-start">
						<div class="fs-5 col text-start">Price (per night):</div>
					</div>
					<div class="row justify-content-start">
						<div class="fs-5 col text-start">Overall:</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
    <div class="col-12">
        <div class="offer-scroll-container" style="overflow-x: auto; white-space: nowrap;">
            <div class="card d-inline-block m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Bedroom 1</h5>
                    <p class="card-text">
                        <strong>Appliances:</strong> TV, Wi-Fi<br>
                        <strong>Price:</strong> $200<br>
                        <strong>Capacity:</strong> 2-4
                    </p>
                    <button type="button" class="btn btn-primary">Book Now</button>
                </div>
            </div>

            <div class="card d-inline-block m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Suite 2</h5>
                    <p class="card-text">
                        <strong>Appliances:</strong> Mini-bar, Air conditioning<br>
                        <strong>Price:</strong> $300<br>
                        <strong>Capacity:</strong> 4-6
                    </p>
                    <button type="button" class="btn btn-primary">Book Now</button>
                </div>
            </div>
			            <div class="card d-inline-block m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Bedroom 1</h5>
                    <p class="card-text">
                        <strong>Appliances:</strong> TV, Wi-Fi<br>
                        <strong>Price:</strong> $200<br>
                        <strong>Capacity:</strong> 2-4
                    </p>
                    <button type="button" class="btn btn-primary">Book Now</button>
                </div>
            </div>

            <div class="card d-inline-block m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Suite 2</h5>
                    <p class="card-text">
                        <strong>Appliances:</strong> Mini-bar, Air conditioning<br>
                        <strong>Price:</strong> $300<br>
                        <strong>Capacity:</strong> 4-6
                    </p>
                    <button type="button" class="btn btn-primary">Book Now</button>
                </div>
            </div>
			            <div class="card d-inline-block m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Bedroom 1</h5>
                    <p class="card-text">
                        <strong>Appliances:</strong> TV, Wi-Fi<br>
                        <strong>Price:</strong> $200<br>
                        <strong>Capacity:</strong> 2-4
                    </p>
                    <button type="button" class="btn btn-primary">Book Now</button>
                </div>
            </div>

            <div class="card d-inline-block m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Suite 2</h5>
                    <p class="card-text">
                        <strong>Appliances:</strong> Mini-bar, Air conditioning<br>
                        <strong>Price:</strong> $300<br>
                        <strong>Capacity:</strong> 4-6
                    </p>
                    <button type="button" class="btn btn-primary">Book Now</button>
                </div>
            </div>
            <!-- Add more cards as needed -->
        </div>
    </div>
</div>
</div>
